@{
    ViewBag.Title = "Home Page";
}
<div class="content animate-panel">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel hbggreen">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Title text</h3>
                        <p class="text-big font-light">
                            20
                        </p>
                        <small>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel hbgblue">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Title text</h3>
                        <p class="text-big font-light">
                            160
                        </p>
                        <small>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel hbgyellow">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Title text</h3>
                        <p class="text-big font-light">
                            750
                        </p>
                        <small>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel hbgred">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Title text</h3>
                        <p class="text-big font-light">
                            0,43
                        </p>
                        <small>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 09, 2015</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 24, 2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-info font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-info font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 09, 2015</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-info font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 24, 2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-warning font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-warning font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 09, 2015</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-warning font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 24, 2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-danger font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-danger font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 09, 2015</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-danger font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 24, 2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>