@model  IEnumerable<Bug_Tracker.Models.Comment>

<div class="widget">
    <div class="widget-header">
        <div class="title">
            <span class="fs1" aria-hidden="true" data-icon="&#xe06a;"></span>
        </div>
    </div>
    <div class="widget-body" style="cursor:default">
        @if (Model != null)
        {
            <ul class="comments">
                @foreach (var comment in Model)
                {
                    <li>
                        <div class="user pull-left">
                            <img src="~/Images/profileAvatar.png" alt="user">
                        </div>
                        <div class="info">
                            <div class="name">
                                @comment.Creator.FirstName @comment.Creator.LastName
                            </div>
                            <div class="time">
                                <i class="icon-time"></i>
                                @comment.CreationDate
                            </div>
                            <small>@comment.CommentBody</small>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div>No comments have been posted for this ticket.</div>
        }
    </div>
</div>