@using System.Web.UI.WebControls
@model Bug_Tracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>PASSWORD RECOVER</h3>
                    <small>Please fill the form to recover your password</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <p>
                            Enter your email address and your password will be reset and emailed to you.
                        </p>

                        <form action="#" id="loginForm">
                            @Html.ValidationSummary("", new {@class = "text-danger"})
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "example@gmail.com", title = "Please enter your username."})
                                <span class="help-block small">Your registered email address</span>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">Recover password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>FacePalm</strong> <br/> 2016 Copyright Austin Torres
            </div>
        </div>
    </div>
}